:root
{
    --font-body: sans-serif;
    --font-size-normal: 16px;
    --font-weight-normal: bold;

    --col-bg: #c3c3c3;
    --col-primary: #5D3621;
    --col-primary-tint: #333B50;
    --col-secondary: #5D3621;
    --col-secondary-tint: #724E2F;

    --col-data-accent: #4b341a;
    --col-data-item: #abbcdd;
    --col-data-item-tint-light: #99abcf;
    --col-data-item-tint-dark: #8999b8;

    --col-action: #191de6;

    --col-text: #ececec;
    --col-text-data: #000;
}